.DS_Store
node_modules
/build
/dist
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.eslintignore
.eslintrc.cjs
.app.d.ts
.index.test.js
.prettierignore
.prettierrc
.jsconfig.json
/.tests
